
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse {
    background-color: #3a3a3a;
    border-color: #3a3a3a; 
}

span {
    color: orange;
}

.explanation {
    background:url(../images/tools.jpg) no-repeat center center;
    height: 150px;
    margin-top: 50px;
}

.explanation > p {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.groen {
    
    background-color: #E2E2E2;
    margin-top: 70px;
    padding: 30px;
    margin-bottom: 30px;
}

.sidebar {
    background-color: rgba(255,165,0, 0.7);
    margin-top: 70px;
    padding: 20px;
    margin-bottom: 30px;
}

.sidebar span {
    color: white;
}

.sidebar a {
    color: dodgerblue;
}

.blauw {
    background-color: lightskyblue;
    height: 400px;
    margin-top: 40px;
}



a {
    color: lightskyblue;
} 

a:hover {
    color: orange;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #3a3a3a;
}


@media screen and (max-width: 768px) {
    .explanation > p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer {
        height: 180px;
    }
}

.navbar-brand {
    width: 0;
    height: 0;
}

strong {
    color:orange;
    font-weight: normal;
}

h2 strong {
    font-size: 18px;
    color: seagreen;
}


.groen li  {
    padding-right: 30%;
}

.groen p {
    padding-right: 30%;
}



input {
    display: block;
}

.button {
    background-color: orange;
    border: none;
    color: white;
    display: inline-block;
    width: 130px;
    height: 30px;
}

.button:hover {
    background-color: white;
    color: orange;
    border: 2px solid orange;
    transition: all 0.3s ease 0s;
}

.navbar-inverse .navbar-nav > li > a {
    color: orange;
}

.fa {
    margin-top: 20px;
}