  <section id="header"> 
  <div class="container">
  <div class="row">  
    <div class="col-md-2">
    </div>
    <div class="col-md-10">{{page.navigation}}</div>   
  </div>
  </div>
    </section>
    <section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 groen">
                {{ page.content }}
            </div>

        </div>

    </div><!-- /.container -->
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
        <div class="col-md-6">
          {{page.footer}}
        </div> 
        <div class="col-md-6">
          {{page.socialMedia}}
        </div>
        </div>
        
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
